body{
    background-color: rgb(112, 112, 112);
}
h1{
font-size: 50px; 
color: rgb(160, 0, 0);
}

p{
color: blue;
}
span{
    color: darkgreen
}
.uppercase{
text-transform: uppercase;
}
.small{
font-size: 15px;
}
